/*
File: style.css
Author: Stephen Dimig (azedt376@gmail.com)
Description: This is the style sheet for the restaurant menu site.
*/

/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  font-family: Brush Script MT;
  font-size: 1.75em;
  color: white;
}

section {
  background-color: #f6b319;
  height: 700px;
  font-family: Helvetica;
  color: #557c3e;
}

h3 {
  font-size: 1.25em;
  font-family: Garamond;
}

#h3-1 {
  color: green;
}

#h3-2 {
  color: white;
}

#h3-3 {
  color: black;
}

#header-nav {
  color: black;
  background-color: #f6b319;
  border-radius:  0;
  border:  0;
  text-align: left;
}

body {
  background-color: #61122f;
}

#button-1 {
  height: 45px; 
  width: 45px;
}

#list-item-1 a {
  color: indianred;
  font-size: 1.25em;
}